{{> havbar}}
<div class="homepage">
{{#each arr}}
  <div class='grammyName'>
    Мемы {{name}}
  </div>
{{/each}}

 {{#if type}}
<div id="addDiv">
  <button class="btn btn-success addbtn" id="showAddForm">Добавить картинку</button>
</div>
{{/if}}
<div class="superClass">
  {{#each images }}
  <div class="card" id="div_{{id}}">
     <a href="/recognise/{{this.id}}" class="card-link recognise" data-image-path={{this.path}}><img src="{{link}}" alt="..."></a>
    <div>
      <button id="{{id}}" type="button" class="delete-btn btn btn-danger delete">Удалить</button>
    </div>
  </div>
  {{/each}}
</div>

<div class="loader">
  <div class="lds-heart">
    <div></div>
  </div>
</div>

<h2 class="meme">МЕМЫ ИНТЕРНЕТА</h2>
<div class="superClass">
  <div class="card">
    <img src='https://www.unisender.com/ru/blog/wp-content/uploads/2020/01/8-url.png' alt="...">
  </div>
  <div class="card">
    <img src='https://webznam.ru/_bl/16/41608074.jpg' alt="...">
  </div>
</div>
</div>




